In [27]:
####################### 6.5.2 - Create Heatmaps for Weather Parameters  #######################
# Import the dependencies.
import pandas as pd  # Pandas to read our CSV file and create the locations and measurements from the DataFrame
import gmaps         # use gmaps and the API key to create heatmaps and the locations map, and we'll use the requests 
import requests      # dependency to make a request to the Google Places JSON file. This will allow us to get hotel locations 
                     # from the latitude and longitude of the city.
    
# Import the API key.
from config import g_key

In [28]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-08-02 01:15:30,3.07,172.79,83.68,79,13,17.49
1,1,Jamestown,US,2020-08-02 01:12:35,42.10,-79.24,68.00,88,90,6.93
2,2,Trincomalee,LK,2020-08-02 01:11:33,8.57,81.23,81.52,76,100,21.30
3,3,Mataura,NZ,2020-08-02 01:15:30,-46.19,168.86,52.83,84,100,1.21
4,4,Rikitea,PF,2020-08-02 01:15:30,-23.12,-134.97,74.08,75,0,5.97

In [29]:
#NOTE: One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number.
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [30]:
# Create a Maximum Temperature Heatmap

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [31]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

SyntaxError: invalid syntax (<ipython-input-31-177b2bb049ee>, line 4)

In [32]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Alternatively using using list comprehension    
# [max(temp, 0) for temp in max_temp]

In [33]:

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# Adjust Heatmap Zoom, Intensity, and Point Radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
#  Create a Percent Humidity Heatmap

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
#  Create a Percent Cloudiness Heatmap
# Heatmap of Percent Cloudiness
lcations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Create a Wind Speed Heatmap
#  Create a Wind Speed Heatmap
# Heatmap of Wind Speed
lcations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [43]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-08-02 01:15:30,3.07,172.79,83.68,79,13,17.49
2,2,Trincomalee,LK,2020-08-02 01:11:33,8.57,81.23,81.52,76,100,21.30
16,16,Along,IN,2020-08-02 01:15:30,28.17,94.77,78.06,85,41,0.54
17,17,Manaure,CO,2020-08-02 01:15:31,11.78,-72.44,85.19,74,90,6.33
21,21,Puro,PH,2020-08-02 01:15:31,12.48,123.38,83.17,71,100,4.05
22,22,Kavaratti,IN,2020-08-02 01:15:31,10.57,72.64,82.15,79,93,20.11
25,25,Ormara,PK,2020-08-02 01:15:11,25.21,64.64,84.33,81,100,8.43
28,28,Yellowknife,CA,2020-08-02 01:11:45,62.46,-114.35,78.80,50,75,14.99
30,30,Matara,LK,2020-08-02 01:15:31,5.95,80.54,78.12,86,100,11.25
31,31,Albany,US,2020-08-02 01:15:05,42.60,-73.97,81.00,57,100,1.39

In [51]:
# 3 Ways to check for NULLS
# determine if the preferred_cities_df DataFrame has any null values for any of the rows
preferred_cities_df.count()
preferred_cities_df.isnull().sum()
preferred_cities_df.notnull().sum()

City_ID       222
City          222
Country       222
Date          222
Lat           222
Lng           222
Max Temp      222
Humidity      222
Cloudiness    222
Wind Speed    222
dtype: int64

In [52]:
####################### 6.5.4 - Map Vacation Criteria ####################### 
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
0    Butaritari      KI     83.68   3.07  172.79
2   Trincomalee      LK     81.52   8.57   81.23
16        Along      IN     78.06  28.17   94.77
17      Manaure      CO     85.19  11.78  -72.44
21         Puro      PH     83.17  12.48  123.38
22    Kavaratti      IN     82.15  10.57   72.64
25       Ormara      PK     84.33  25.21   64.64
28  Yellowknife      CA     78.80  62.46 -114.35
30       Matara      LK     78.12   5.95   80.54
31       Albany      US     81.00  42.60  -73.97

In [54]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [58]:
# Iterate through the hotel_df DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [59]:
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng                   Hotel Name
0    Butaritari      KI     83.68   3.07  172.79           Isles Sunset Lodge
2   Trincomalee      LK     81.52   8.57   81.23               Welcombe Hotel
16        Along      IN     78.06  28.17   94.77                   Hotel West
17      Manaure      CO     85.19  11.78  -72.44               Del mar vendra
21         Puro      PH     83.17  12.48  123.38
22    Kavaratti      IN     82.15  10.57   72.64  Bismillah Hotel And Lodging
25       Ormara      PK     84.33  25.21   64.64
28  Yellowknife      CA     78.80  62.46 -114.35           The Explorer Hotel
30       Matara      LK     78.12   5.95   80.54       Amaloh Boutique Resort
31       Albany      US     81.00  42.60  -73.97

In [60]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [63]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [64]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))